@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-text: #1a0e23; /* Deep purple for focus and depth */
  --color-background: #fdfcff; /* Soft off-white for a light, uplifting feel */
  --color-primary: #8f5fe8; /* Vibrant purple-blue for a futuristic, determined vibe */
  --color-secondary: #ff9fe8; /* Cheerful pink for motivation and warmth */
  --color-secondary-hover: #c9a9ff; /* Softer purple glow for interaction */
  --color-accent: #a5f0e5; /* Soft, light teal for gentle balance and clarity */
  --color-accent-hover: #d1f7f2; /* Even lighter teal for subtle interaction */

  --animate-wiggle: wiggle 0.2s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-12deg);

      
    }
    50% {
      transform: rotate(12deg);
    }
  }
}
